<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Shared settings-->
    <add  key="LoginURL"  value="https://ivyhilltech.sharepoint.com"/>
    
    <!--IV&V section-->
    <add  key="SiteURL"  value="https://ivyhilltech.sharepoint.com/sites/proj/ivv"/>
    <add  key="DocumentLibraryName" value="IVnVRptSrc"/>
    <add  key="SummaryListName" value="IVnVRptSum"/>
    <add  key="SiteListName" value="IvnVSites"/>
    <add  key="AnalystListName" value="IVnVAnalyst"/>
    
    <!--G23 section -->
    <add  key="G23SiteURL"  value="https://ivyhilltech.sharepoint.com/sites/proj/g23"/>
    <add  key="G23UserListName" value="Users"/>
    <add  key="G23SummaryListName" value="Summary"/>
    <add  key="G23DocumentLibraryName" value="srcFiles"/>
    <add  key="RangeStart" value="B"/>
    <add  key="RangeEnd" value="DC"/>

    <!--<add  key="SiteURL"  value="https://systemteksolutions.sharepoint.com/sites/VBA-IVV/Reporting"/>-->
    <!--<add  key="DocumentLibraryName" value="IV and V Reporting Data"/>-->
    <!--<add  key="SummaryListName" value="IV and V Reporting Summary"/>-->
    <!--<add  key="SiteListName" value="IVnVSites"/>-->
    <!--<add  key="AnalystListName" value="IVnVAnalyst"/>-->

  </appSettings>
</configuration>